.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  margin-top: 2rem;
  font-size: large;
}

.App-note {
  color: rgba(0, 0, 0, .4);
  margin-bottom: 1.5rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  /*background-color: #e5cdcd;*/
  width: 101%
}
.appWidth {
  min-width: 1260px;
}

.mainHeight{
  height:700px
}
.cardClass{
  margin:10px;
}

.mar10{
  margin:10px;
}
.marleft30{
  margin-left: 30px;
}
